# Database
DATABASE_URL="postgresql://user:123456@localhost:5432/NoiThatMinhQui?schema=public"

# App
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_NAME="Nội Thất Minh Qui"

# Upload
UPLOAD_DIR="public/uploads"
