<section class="bsc-block">
    <ul class="breadcrumb">    
        <li class="mainCate cb-home"><a href="/">Trang chủ</a></li>
        <li class="cb-cate hide"><a href="dong-ho-thong-minh">Giường sắt</a></li>
        <li><p class="sort-total">158 Giường sắt</p></li>
    </ul>
</section>