<header class="header v2026">
  <div class="container">
    <div class="header__top">
      <div>
        <a href="/" class="header__logo" aria-label="logo">
          <img src="../../assets/images/logo_white.png" alt="" class="logo_site" data-was-processed="true">
        </a>
        <form action="/tim-kiem" onsubmit="return suggestSearch(event);" class="header__search ">
          <input id="skw" type="text" class="input-search is-promote" onkeyup="suggestSearch(event);"
              placeholder="iPhone 17 và iPhone Air" name="key" autocomplete="off" maxlength="100" 
              style="animation: 0.4s ease 0s 1 normal none running slideUpFade;">
          <button type="submit" aria-label="button suggest search">
              <i class="icon-search"></i>
          </button>
          <div id="search-result" style="display: none;">
            <ul class="suggest_search">
              <li class="ttitle spc-promote"><div class="viewed">Ưu đãi đặc biệt</div></li>
              <div class="banner-suggest-search">
                  <a data-cate="0" data-place="8105" href="https://www.thegioididong.com/flashsale" onclick="jQuery.ajax({ url: '/bannertracking?bid=106473&amp;r='+ (new Date).getTime(), async: true, cache: false });"><img style="cursor:pointer" src="https://cdnv2.tgdd.vn/mwg-static/tgdd/Banner/4d/9b/4d9b35b981a92c7efd650b12d3a2f090.png" alt="Banner Promotion search"></a>
              </div>
              <a href="/flashsale?itm_source=thegioididong&amp;itm_medium=box_search&amp;itm_campaign=campaign_noi_bat" class="spc-item" data-gtm-vis-first-on-screen1070012_480="2037017" data-gtm-vis-total-visible-time1070012_480="100" data-gtm-vis-has-fired1070012_480="1">
                  <h3>Nhận ngay mã giảm 1 triệu</h3>
                  <span>Ngày hội voucher</span>
              </a>
              <a href="/dtdd-apple-iphone-air#c=42&amp;m=80&amp;p=313993,313941&amp;o=13&amp;pi=0?itm_source=thegioididong&amp;itm_medium=box_search&amp;itm_campaign=campaign_noi_bat" class="spc-item" data-gtm-vis-first-on-screen1070012_480="2037032" data-gtm-vis-total-visible-time1070012_480="100" data-gtm-vis-has-fired1070012_480="1">
                  <h3>iPhone 17 và iPhone Air</h3>
                  <span>Mua ngay</span>
              </a>
              <a href="/dtdd/vivo-y31d-6gb-128gb?itm_source=thegioididong&amp;itm_medium=box_search&amp;itm_campaign=campaign_noi_bat" class="spc-item" data-gtm-vis-first-on-screen1070012_480="2037040" data-gtm-vis-total-visible-time1070012_480="100" data-gtm-vis-has-fired1070012_480="1">
                  <h3>Mở Bán vivo Y31d</h3>
                  <span>Ưu Đãi Cực Hot</span>
              </a>
              <a href="/dtdd/realme-16-5g-12gb-256gb?rg=1?itm_source=thegioididong&amp;itm_medium=box_search&amp;itm_campaign=campaign_noi_bat" class="spc-item" data-gtm-vis-first-on-screen1070012_480="2037046" data-gtm-vis-total-visible-time1070012_480="100" data-gtm-vis-has-fired1070012_480="1">
                  <h3>realme 16 Pro - 16 5G</h3>
                  <span>Quà đến 4 triệu</span>
              </a>
            </ul>
          </div>
        </form>
        <div class="profile">
            <a href="/lich-su-mua-hang" class="name-order active">
                <i></i> Đăng nhập
            </a>
        </div>
        <a href="/cart" class="header__cart menu-info" id="cart-box">
            <div class="box-cart">
                <i class="iconnewglobal-whitecart"></i>
                <span class="cart-number" style="display:none"></span>
            </div>
            <span>Giỏ hàng</span>
            <div class="view-cart">
                <span>Đã thêm vào giỏ hàng</span>
                <b onclick="window.location.href=/cart">Xem giỏ hàng</b>
            </div>
        </a>
         <div class="header_guarantee">
            <a href="/lich-su-mua-hang" class="name-guarantee active">
                <i></i> Bảo hành
            </a>
        </div>
        <div class="header_support">
            <a href="/lich-su-mua-hang" class="name-support active">
                <i></i> Hỗ trợ khách hàng
            </a>
        </div>
         {# <div class="header_customer">
            <a href="/lich-su-mua-hang" class="name-customer active">
                <i></i> Phương thức vận chuyển
            </a>
        </div> #}
      </div>
    </div>
  </div>
  <div class="top_bar_noithattienloi">
    <div class="container">
      <div class="header__main">
        <div id="hamber_menu" class="relative">
          <a class="txt_color_1 menu_hamber" href="#">
              DANH MỤC
          </a>
           <div id="sub_menu_web">
            <div class="col_menu_cap1">
              <div class="sub_item_menu">
                <a class="parent_menu" href="">
                    Giường sắt, inox, y tế
                    <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/giuong-sat">Giường sắt</a>
                    <a href="/giuong-inox/">Giường inox</a>
                    <a href="/giuong-y-te-inox/">Giường y tế</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="">
                  Tủ sắt quần áo, văn phòng
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/giuong-sat">Tủ sắt quần áo</a>
                    <a href="/giuong-inox/">Tủ hồ sơ văn phòng</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="">
                  Tủ sắt quần áo, văn phòng
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/giuong-sat">Tủ sắt quần áo</a>
                    <a href="/giuong-inox/">Tủ hồ sơ văn phòng</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="">
                  Giường, ghế, võng xếp
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/giuong-sat">Giường xếp</a>
                    <a href="/giuong-inox/">Ghế xếp</a>
                    <a href="/giuong-inox/">Võng xếp</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="">
                  Bàn ghế inox, xích đu
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/giuong-sat">Bàn inox</a>
                    <a href="/giuong-inox/">Ghế inox</a>
                    <a href="/giuong-inox/">Xích đu</a>
                    <a href="/giuong-inox/">Bộ bàn ghế inox</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="">
                  Sào phơi đồ, kệ, thang inox
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/giuong-sat">Sào phơi đồ inox</a>
                    <a href="/giuong-inox/">Kệ inox</a>
                    <a href="/giuong-inox/">Thang inox</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="">
                  Bàn ghế HSSV, văn phòng
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/giuong-sat">Bàn ghế văn phòng</a>
                    <a href="/giuong-inox/">Bàn ghế học sinh</a>
                    <a href="/giuong-inox/">Bàn ghế sinh viên</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="">
                  Giường, ghế, võng xếp
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/giuong-sat">Giường xếp</a>
                    <a href="/giuong-inox/">Ghế xếp</a>
                    <a href="/giuong-inox/">Võng xếp</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="">
                  Bàn, ghế, tủ nhựa
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/giuong-sat">Bàn nhựa</a>
                    <a href="/giuong-inox/">Ghế nhựa</a>
                    <a href="/giuong-inox/">Tủ nhựa</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="">Võng Xếp</a>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="">Giường Sắt</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item_sub_menu_bar left">
          <ul class="main-menu">
            <li class="">
              <a href="/">TRANG CHỦ</a>
            </li>
            <li class="">
              <a href="/gioi-thieu">GIỚI THIỆU</a>
            </li>
            <li class="">
              <a href="/san-pham">SẢN PHẨM</a>
            </li>
            <li class="">
              <a href="/dich-vu">DỊCH VỤ</a>
            </li>
            <li class="">
              <a href="/flash-sale">FLASH SALE</a>
            </li>
            <li class="">
              <a href="/tin-tuc">TIN TỨC</a>
            </li>
            <li class="">
              <a href="/lien-he">LIÊN HỆ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
