<section class="search-trend">
  <div class="bottom-search">
    <p class="bottom-search__title">Mọi người cũng tìm kiếm</p>
    <div class="bottom-search__container">
      <ul>
        <li style="list-style-type: none;">
          <ul>
            <li><a href="#">Giường ngủ</a></li>
            <li><a href="#">Tủ quần áo</a></li>
            <li><a href="#">Bàn làm việc</a></li>
            <li><a href="#">Ghế văn phòng</a></li>
            <li><a href="#">Kệ tivi</a></li>
            <li><a href="#">Sofa</a></li>
            <li><a href="#">Bàn ăn</a></li>
            <li><a href="#">Giường tầng</a></li>
            <li><a href="#">Tủ giày dép</a></li>
            <li><a href="#">Kệ sách</a></li>
            <li><a href="#">Ghế xếp</a></li>
            <li><a href="#">Giường xếp</a></li>
            <li><a href="#">Võng xếp</a></li>
            <li><a href="#">Thang nhôm</a></li>
            <li><a href="#">Xe đẩy hàng</a></li>
            <li><a href="#">Bàn học sinh</a></li>
            <li><a href="#">Tủ đầu giường</a></li>
            <li><a href="#">Giường sắt</a></li>
            <li><a href="#">Giường gỗ</a></li>
            <li><a href="#">Tủ nhựa</a></li>
            <li><a href="#">Kệ nhựa</a></li>
            <li><a href="#">Ghế nhựa</a></li>
            <li><a href="#">Bàn nhựa</a></li>
            <li><a href="#">Giường tầng sắt</a></li>
            <li><a href="#">Giường tầng gỗ</a></li>
            <li><a href="#">Thang nhôm chữ A</a></li>
            <li><a href="#">Thang nhôm rút gọn</a></li>
            <li><a href="#">Thang nhôm gấp</a></li>
            <li><a href="#">Xe đẩy 4 bánh</a></li>
            <li><a href="#">Xe đẩy 2 bánh</a></li>
            <li><a href="#">Ghế xếp inox</a></li>
            <li><a href="#">Giường xếp inox</a></li>
            <li><a href="#">Võng xếp inox</a></li>
            <li><a href="#">Bàn gấp</a></li>
            <li><a href="#">Ghế gấp</a></li>
            <li><a href="#">Kệ để đồ</a></li>
            <li><a href="#">Tủ đựng đồ</a></li>
            <li><a href="#">Giá treo quần áo</a></li>
            <li><a href="#">Móc treo đồ</a></li>
            <li><a href="#">Kệ góc tường</a></li>
            <li><a href="#">Kệ treo tường</a></li>
            <li><a href="#">Bàn trang điểm</a></li>
            <li><a href="#">Tủ trang điểm</a></li>
            <li><a href="#">Ghế massage</a></li>
            <li><a href="#">Ghế thư giãn</a></li>
            <li><a href="#">Bàn sofa</a></li>
            <li><a href="#">Bàn trà</a></li>
            <li><a href="#">Kệ trang trí</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
