<div id="slider_item_big_top">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <a title="Slide 1" href="#">
          <img src="../../assets/images/slides/slide1.jpg" alt="Slide 1">
        </a>
      </li>
      <li>
        <a title="Slide 2" href="#">
          <img src="../../assets/images/slides/slide2.jpg" alt="Slide 2">
        </a>
      </li>
      <li>
        <a title="Slide 3" href="#">
          <img src="../../assets/images/slides/slide3.jpeg" alt="Slide 3">
        </a>
      </li>
      <li>
        <a title="Slide 4" href="#">
           <img src="../../assets/images/slides/slide1.jpg" alt="Slide 1">
        </a>
      </li>
      <li>
        <a title="Slide 5" href="#">
         <img src="../../assets/images/slides/slide3.jpeg" alt="Slide 3">
        </a>
      </li>
    </ul>
  </div>
</div>
