<footer class="footer v2026">
    <div class="container">
        <section class="clearfix footer__top">
            <div class="footer__col">
                <div class="f-listtel">
                    <p class="f-listtel__title"><strong>Tổng đài hỗ trợ</strong></p>
                    <p class="f-listtel__content"><span>Gọi mua:</span> <a href="tel:0865993334">086.599.3334</a> (8:00 - 21:30)</p>
                    <p class="f-listtel__content"><span>Khiếu nại:</span> <a href="tel:0865993334">086.599.3334</a> (8:00 - 21:30)</p>
                    <p class="f-listtel__content"><span>Bảo hành:</span> <a href="tel:0865993334">086.599.3334</a> (8:00 - 21:00)</p>
                </div>
            </div>

            <div class="footer__col">
                <div class="f-listtel">
                    <p class="f-listtel__title"><strong>Về công ty</strong></p>
                </div>
                <ul class="f-listmenu">
                    <li><a rel="nofollow" href="#">Giới thiệu công ty (noithattienloi.vn)</a></li>
                    <li><a rel="nofollow" href="#">Tuyển dụng</a></li>
                    <li><a rel="nofollow" href="#">Gửi góp ý, khiếu nại</a></li>
                </ul>
            </div>

            <div class="footer__col">
                <div class="f-listtel">
                    <p class="f-listtel__title"><strong>Thông tin khác</strong></p>
                </div>
                <ul class="f-listmenu">
                    <li><a rel="nofollow" href="#">Tích điểm Quà tặng VIP</a></li>
                    <li><a rel="nofollow" href="#">Lịch sử mua hàng</a></li>
                    <li><a rel="nofollow" href="#">Đăng ký bán hàng CTV chiết khấu cao</a></li>
                    <li><a rel="nofollow" href="#">Tìm hiểu về mua trả chậm</a></li>
                    <li><a rel="nofollow" href="#">Chính sách bảo hành</a></li>
                </ul>
            </div>

            <div class="footer__col">
                <div class="f-listtel">
                    <p class="f-listtel__title"><strong>Chính sách</strong></p>
                </div>
                <ul class="f-listmenu">
                    <li><a rel="nofollow" href="#">Chính sách bảo hành, đổi trả</a></li>
                    <li><a rel="nofollow" href="#">Chính sách thanh toán</a></li>
                    <li><a rel="nofollow" href="#">Chính sách giải quyết tranh chấp</a></li>
                    <li><a rel="nofollow" href="#">Chính sách riêng tư, bảo mật</a></li>
                </ul>
            </div>
        </section>
    </div>
  <div class="copyright">
    <section>
      <p>Copyright © noithattienloi.vn . All rights reserved.
            Sử dụng dịch vụ tại Nội Thất Tiện Lợi đồng nghĩa bạn đồng ý với Thỏa thuật và Chính sách bảo mật của chúng tôi.</p>
    </section>
  </div>
   
</footer>
