<header class="header v2026">
  <!-- Top info bar -->
  <div class="header__infobar">
    <div class="container">
      <div class="header__infobar-inner">
        <span class="header__infobar-slogan">Nội Thất Minh Quân – Đồng hành cùng mọi gia đình Việt với sản phẩm bền đẹp, tiện nghi và giá tốt.</span>
        <nav class="header__infobar-links">
          <a href="/chinh-sach"><i class="fa fa-file-text-o"></i> Chính sách</a>
          <a href="/phuong-thuc-giao-hang"><i class="fa fa-truck"></i> Phương thức giao hàng và vận chuyển</a>
          <a href="/blog"><i class="fa fa-rss"></i> Blog</a>
          <a href="/lien-he"><i class="fa fa-pencil"></i> Liên hệ</a>
          <a href="https://facebook.com" target="_blank" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="tel:0865993334" aria-label="Phone"><i class="fa fa-phone"></i></a>
          <a href="https://youtube.com" target="_blank" aria-label="YouTube"><i class="fa fa-youtube-play"></i></a>
        </nav>
      </div>
    </div>
  </div>

  <!-- Main header: logo + search + contacts -->
  <div class="container">
    <div class="header__top">
      <div>
        <a href="/" class="header__logo" aria-label="logo">
          <img src="../../assets/images/hinhweb/logo/logo.png" alt="Nội Thất Đại Thành" class="logo_site">
        </a>

        <form action="/tim-kiem" onsubmit="return suggestSearch(event);" class="header__search">
          <select class="search-category" aria-label="Danh mục">
            <option value="">All</option>
            <option value="giuong">Giường</option>
            <option value="tu">Tủ</option>
            <option value="ban-ghe">Bàn ghế</option>
          </select>
          <input id="skw" type="text" class="input-search" onkeyup="suggestSearch(event);"
              placeholder="Tìm kiếm sản phẩm..." name="key" autocomplete="off" maxlength="100">
          <button type="submit" aria-label="Tìm kiếm">
              <i class="fa fa-search"></i>
          </button>
          <div id="search-result" style="display: none;">
            <ul class="suggest_search"></ul>
          </div>
        </form>

        <div class="header__contacts">
          <div class="header__contact-item">
            <span class="header__contact-icon"><i class="fa fa-phone"></i></span>
            <div class="header__contact-info">
              <span class="header__contact-label">Miền Nam</span>
              <a href="tel:0969236383" class="header__contact-phone">0865.99.33.34</a>
            </div>
          </div>
          <div class="header__contact-item">
            <span class="header__contact-icon"><i class="fa fa-phone"></i></span>
            <div class="header__contact-info">
              <span class="header__contact-label">Miền Bắc</span>
              <a href="tel:0971456238" class="header__contact-phone">0988.31.88.34</a>
            </div>
          </div>
          <div class="header__contact-item">
            <span class="header__contact-icon"><i class="fa fa-headphones"></i></span>
            <div class="header__contact-info">
              <span class="header__contact-label">Tư vấn bán hàng</span>
              <a href="tel:0987315988" class="header__contact-phone">0865.99.33.34</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top_bar_noithattienloi">
    <div class="container">
      <div class="header__main">
        <div id="hamber_menu" class="relative">
          <a class="txt_color_1 menu_hamber" href="#">
              DANH MỤC
          </a>
          <div id="sub_menu_web">
            <div class="col_menu_cap1">
              <div class="sub_item_menu">
                <a class="parent_menu" href="/ban-ghe-cafe">
                  Bàn Ghế Cafe
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/ban-cafe">Bàn Cafe</a>
                    <a href="/ghe-cafe">Ghế Cafe</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="/ban-ghe-inox">
                  Bàn Ghế Inox, Ghế Nhựa
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/ban-tron-inox">Bàn Tròn Inox</a>
                    <a href="/ban-vuong-inox">Bàn Vuông Inox</a>
                    <a href="/ghe-inox">Ghế Inox</a>
                    <a href="/ghe-nhua">Ghế Nhựa</a>
                    <a href="/ghe-dot-nhang">Ghế Đốt Nhang</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="/ban-ghe-sinh-vien">
                  Bàn Sinh Viên, Giường Mầm Non
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/ban-sinh-vien">Bàn Sinh Viên</a>
                    <a href="/giuong-mam-non">Giường Mầm Non</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="/giuong-sat">
                  Giường Sắt
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/giuong-cao-cap">Giường Cao Cấp</a>
                    <a href="/giuong-gia-re">Giường Giá Rẻ</a>
                    <a href="/giuong-gap-gon">Giường Gấp</a>
                    <a href="/giuong-tang">Giường Tầng</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="/ke-inox">
                  Kệ Inox Nhà Bếp, Nhà Tắm
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/chan-binh-nuoc">Chân Bình Nước</a>
                    <a href="/ke-chen">Kệ Chén</a>
                    <a href="/ke-dep">Kệ Dép</a>
                    <a href="/ke-gia-vi">Kệ Gia Vị</a>
                    <a href="/ke-goc">Kệ Góc</a>
                    <a href="/ke-inox">Kệ Inox</a>
                    <a href="/ke-ui-do">Kệ Ủi Đồ</a>
                    <a href="/mang-nap-vung">Máng Nắp Vung</a>
                    <a href="/tam-binh-phong">Tấm Bình Phong</a>
                    <a href="/ong-dua">Ống Đũa</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="/thang-inox">
                  Thang
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/thang-inox">Thang Inox</a>
                    <a href="/thang-nhom">Thang Nhôm</a>
                  </div>
                </div>
              </div>
              <div class="sub_item_menu">
                <a class="parent_menu" href="/vong-xep">
                  Võng, Giường Xếp, Ghế Xếp
                  <em class="fa fa-angle-right"> </em>
                </a>
                <div class="conten_hover_submenu" style="display: none;">
                  <div class="col_hover_submenu">
                    <a href="/ghe-xep">Ghế Xếp</a>
                    <a href="/giuong-xep">Giường Xếp</a>
                    <a href="/khung-vong">Khung Võng</a>
                    <a href="/luoi-vong">Lưới Võng</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item_sub_menu_bar left">
          <ul class="main-menu">
            <li class="">
              <a href="/">TRANG CHỦ</a>
            </li>
            <li class="">
              <a href="/gioi-thieu">GIỚI THIỆU</a>
            </li>
            <li class="">
              <a href="/san-pham">SẢN PHẨM</a>
            </li>
            <li class="">
              <a href="/dich-vu">DỊCH VỤ</a>
            </li>
            <li class="">
              <a href="/flash-sale">FLASH SALE</a>
            </li>
            <li class="">
              <a href="/tin-tuc">TIN TỨC</a>
            </li>
            <li class="">
              <a href="/lien-he">LIÊN HỆ</a>
            </li>
          </ul>
        </div>
        <div class="header__menu-actions">
          <a href="/lich-su-mua-hang" class="header__menu-action header__menu-action--login name-order" aria-label="Đăng nhập">
            <span class="header__menu-icon header__menu-icon--login" aria-hidden="true"></span>
          </a>
          <a href="/cart" class="header__menu-action header__menu-action--cart" aria-label="Giỏ hàng">
            <span class="header__menu-cart-icon">
              <span class="header__menu-icon header__menu-icon--cart" aria-hidden="true"></span>
              <span class="header__menu-cart-badge" id="headerCartCount">0</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
