<div id="slider_item_big_top">
  <div class="flexslider">
    <ul class="slides">
     <li>
        <a title="Slide 0" href="#">
          <img src="../../assets/images/hinhweb/banner/banner0.png" alt="Slide 0">
        </a>
      </li>
      <li>
        <a title="Slide 1" href="#">
          <img src="../../assets/images/hinhweb/banner/banner1.png" alt="Slide 1">
        </a>
      </li>
      <li>
        <a title="Slide 2" href="#">
          <img src="../../assets/images/hinhweb/banner/banner2.png" alt="Slide 2">
        </a>
      </li>
      <li>
        <a title="Slide 3" href="#">
          <img src="../../assets/images/hinhweb/banner/banner3.png" alt="Slide 3">
        </a>
      </li>
      <li>
        <a title="Slide 4" href="#">
           <img src="../../assets/images/hinhweb/banner/banner4.png" alt="Slide 1">
        </a>
      </li>
      <li>
        <a title="Slide 5" href="#">
         <img src="../../assets/images/hinhweb/banner/banner5_1.png" alt="Slide 3">
        </a>
      </li>
    </ul>
  </div>
</div>
